.badge {
    margin-top: 50px;
}

text {
    fill: var(--hero-text-color);
}
  
#main-text {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    /* font-family: 'League Spartan', sans-serif; */
    font-size: var(--main-text-size);
}
#curved-text-top {
    line-height: 1;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    /* font-family: sans-serif; */
    font-size: var(--top-text-size);
}
  
#curved-text-bottom {
    line-height: 1;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    /* font-family: sans-serif; */
    font-size: var(--bottom-text-size);
}
  
#background {
    /* position: relative; */
    height: var(--badge-size);
    width: var(--badge-size);
}
  
#burst-one {
    background: var(--badge-color);
    width: var(--badge-size);
    height: var(--badge-size);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(20deg);
    border-radius: 6px;
}
#burst-one:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--badge-size);
    width: var(--badge-size);
    background: var(--badge-color);
    transform: rotate(135deg);
    border-radius: 6px;
}
  
#burst-two {
    background: var(--badge-color);
    width: var(--badge-size);
    height: var(--badge-size);
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(44deg);
    border-radius: 6px;
}
#burst-two:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--badge-size);
    width: var(--badge-size);
    background: var(--badge-color);
    transform: rotate(135deg);
    border-radius: 6px;
}
  
#textcircle {
    width: var(--badge-size);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 550px) {
    .badge {
        margin-top: 0px;
        position: absolute;
        --badge-size: 6rem;
        left: -4vw;
    }
}

/* @media screen and (max-width: 400px) {
    .badge {
        --badge-size: 6rem;
        left: -4vw;
    }
} */
  

@keyframes spin1 {
    50% { transform: rotate(50deg); }
    100% { transform: rotate(20deg); }
}

@keyframes spin2 {
    50% { transform: rotate(74deg); }
    100% { transform: rotate(44deg); }
}

#burst-one {
    animation: spin1 0.5s forwards;
    animation-delay: 3s;
}

#burst-two {
    animation: spin2 0.5s forwards;
    animation-delay: 3s;
}
@keyframes badge-flip {
    100% { transform: rotateY(360deg); }
}
.badge {
    animation: badge-flip 0.8s forwards;
    animation-delay: 4s;
}

