/*******************/
/* Landing Desktop */
/*******************/
#hero {
    color: var(--hero-text-color);
    font-family: var(--font-family-header);
    margin: 0px;
    height: 100vh;
    grid-auto-rows: minmax(500px, auto);
    display: grid;
    grid-template-areas:
        ". landing quote .";
    background-repeat: no-repeat;
    grid-template-columns: 10% 35% 55% 0%;
    background-color: var(--hero-gradient-color) !important;
    background: radial-gradient(circle at 0% 100%, var(--hero-gradient-color) 0%, var(--hero-bg-color) 50%);
    overflow: hidden;
    transition: all 0.5 ease-in;
}

#hero .kl-img {
    filter: saturate(0.7);
    height: 90%;
    grid-area: landing;
    align-self: flex-end;
    justify-self: center;
}


.waviy span, 
#hero .quote h1,
#hero .quote h2 {
    text-shadow: 2px 2px 3px #986C4F;
}

#hero .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
    grid-area: quote;
    padding: 0px 40px;
}

.quote h1 {
    font-size: calc(max(2.1vw, 2.5em));
    line-height: 1.1em;
    margin: 0;
    text-align: center;
}

.quote h2 {
    font-size: calc(max(1.9vw, 2.3em));
    line-height: 1.1em;
    text-align: center;
    margin-bottom: 0;
}

/*************/
/* iPad Pro */
/*************/
@media screen and 
    (min-width: 1000px) and 
    (min-height: 1350px) and 
    (orientation: portrait) {
    #hero {
        max-height: 1000px;
    }
    #hero .quote {
        margin-top: 0;
        padding: 0px 40px;
    }
}

/********************/
/* Tablet Landscape */
/********************/
@media screen and 
    (max-width: 930px) and 
    (orientation: landscape) {
    #hero {
        min-height: 600px;
    }
    #hero .quote {
        margin-top: 0;
        padding: 0px 40px;
    }
}

/*******************/
/* Tablet Portrait */
/*******************/
@media screen and 
    (max-width: 930px) 
    and (orientation: portrait) {

    #hero {
        grid-template-columns: 5% 50% 40% 5%;
        height: calc(100vh - 60px);
        min-height: 500px;
        max-height: 600px;
    }

    #hero .quote {
        margin-top: 0;
        padding: 0px;
    }

    .quote h1 { font-size: 2.0em; }
    .quote h2 { font-size: 1.5em !important; }
}

@media screen and (max-width: 800px) {

    #hero {
        height: 500px;
        min-height: 500px;
    }

    /* #hero .quote {
        margin-top: 20vh;
    } */

    #hero .quote {
        justify-content: flex-end;
        padding-bottom: 40px;
    }

    .quote h1 { font-size: 5vw; }
    .quote h2 { font-size: 4vw; }

    #hero .badge-flip img {
        width: 12vw;
    }
}


/*******************/
/* Mobile Portrait */
/*******************/
@media screen and (max-width: 530px) {

    #hero {
        height: 450px;
        grid-template-areas:
            ". landing quote";
        grid-template-columns: 10% 60% 30%;
    }

    #hero .quote {
        justify-content: center;
        /* padding-bottom: 20px; */
    }

    #hero .quote h1, #hero .quote h2 {
        display: none;
    }
    
    #hero .quote .badge-flip img {
        width: 20vw;
        min-width: 100px;
    }

    .logo { display: none; }
    .mobile.quote {
        width: 100%;
        max-width: 100%;
        padding: 40px 10px;
        color: #0182ab;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .mobile.quote h1,
    .mobile.quite h2 {
        font-family: var(--font-family-header);
        font-size: 2.0em;
        line-height: 1.2em;
    }

    hr.mobile {
        margin-top: 50px;
        margin-bottom: 0px;
        display: inherit;
    }
}


/*******************/
/* Badge Animation */
/*******************/
@keyframes badge-flip {
    100% { 
        transform: rotateY(360deg);
        filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.3)) invert(1);
    }
}
.badge-flip img {
    animation: badge-flip 0.8s forwards;
    animation-delay: 3.5s;
}

.badge-flip img {
    width: 9vw;
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.3)) invert(1);
}