@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body * {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

p, li {
    color: #555;
    font-size: 1.1em;
    line-height: 1.6em;
}

p:first-child {
    margin-top: 0;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: #0182ab;
    font-weight: bold;
}
a:hover {
    color: #ffa724;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
h1, h2, h3, h4 {
    font-family: 'League Spartan', sans-serif;
}

.section {
    padding: 10vh 15vw;
}

h2 {
    /* font-size: 2.4em; */
    font-size: 3em;
    margin-bottom: 5vh;
}

h3 {
    font-size: 1.6em;
}

nav a, nav a:link, nav a:visited, nav a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 1;
    transition: all 0.3s linear;
}

nav a:hover {
    opacity: 0.5;
}

/*****************
 Laciasha's CSS
******************/
header {
    /* border: solid 1px #000; */
    padding-left: 20px;
    padding-right: 40px;
   /* background-color: green; */
    position: absolute;
    top: 20px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#top-header, #hero {
    color: white;
    font-family: 'League Spartan', sans-serif;
    margin: 0px;
}
.top {
    font-size: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 40px;
    white-space: nowrap;
    font-size: 1.2em;
}
 
nav ul {
    display:flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

#hero {
    background-image: url('../landing_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr .2fr;
    grid-template-areas: 
        "tl tc tr gutter"
        "cl cc quote gutter"
        "cl cc quote gutter"
        "logo cc br gutter";
    background-position: top center;
}

.logo {
    /* border: solid 1px #000; */
    margin: 20px;
    max-width: 18vw;
    min-width: 200px;
    grid-area: logo;
}

#quote {
    text-align: center;
    grid-area: quote;
}

#quote h1 {
    font-size: 2.7em;
    line-height: 1.1em;
    margin: 0;
}

#quote h2 {
    font-size: 2.0em;
    line-height: 1.1em;
}

h2 { 
    font-style:normal;  
}
#landingpic{
    width: 100%;
}


/***************
 Janice Form
 ***************/

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact label {
    color: white;
    font-weight: 700;
    margin-bottom: 3px;
    font-size: 1.1em;
}

.contact-form{
    background-color: #7fc596;
    padding: 30px;
    width: 100%;
}
.form-annotation {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-annotation h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 20px;
}
.form-annotation p {
    margin-top: 0;
    /* font-size: 1.5em; */
}

input, textarea{
    width: 100%; 
    height: 40px;
}
select {
    width: 100%; 
    height: 40px;
}  


#about-business{
    height: 150px;
}
label{
    padding-top: 10px;
    display: inline-block;
    padding-bottom: 2px;
}

/***************
 Janice Speaking
 ***************/

#speaking {
    background-color: #F4F4F4;
    margin: 0;
}

#speaking p {
    margin-top: 0px;
    margin-bottom: 10px;
}
#speaking h2 {
    margin-top: 0px;
}
#speaking h3 {
    margin-bottom: 5px;
}

.speaking-summary {
    display: grid;
    grid-template-columns: 300px auto;
}
.speaking-summary img {
    width: 100%;
}
.speaking-summary > div {
    margin-left: 30px;
}
.speaking-summary > div p:first-child {
    margin-top: 0;
}

#about {
    background-color: #F4F4F4;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
}
#about p:first-child {
    margin-top: 0;
}

.row {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 150px auto;
    align-items: flex-start;
}
.screenshot {
    /* border: solid 1px black; */
    width: 150px;
    margin-right: 15px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0F0F0;
}
.screenshot img {
    width: 100%;
}
.description {
    padding-left: 20px;
}
.description h3 {
    margin-top: 0px;
}


/*******************
 Genevieve
 *******************/
/* .section {
    border: solid 1px #000;
} */

.opener-right, 
.opener-left {
    padding: 5vh 15vw;
    display: grid;
    align-items: center;
    column-gap: 50px;
}

.opener-left {
    padding-top: 15vh;
    grid-template-columns: 1fr 2fr;
}

.opener-right {
    grid-template-columns: 2fr 1fr;
}



.opener-left strong,
.opener-right strong {
    color: #ffa724;
}

.opener-right h2,
.opener-right p,
.opener-left h2,
.opener-left p {
    margin-top: 0;
}

.opener-right h2 {
    justify-self: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-container > div {
    width: calc(33% - 50px);
    justify-content: flex-start;
}
.bg-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 18vw;
    height: 18vw;
    margin-bottom: 20px;
    /* border-radius: 25%; */
    transition: all 0.5s ease-in;
}
.bg-image:hover {
    background-size: 105% 105%;
}
.bg-image.principles {
    background-image: url('../genevieve-images/compass-guiding-principles.jpg')
}
.bg-image.services {
    background-image: url('../genevieve-images/dei-services.jpg')
}
.bg-image.expertise {
    background-image: url('../genevieve-images/expertise-pic.jpg')
}

/* .flex-container p {
    width: 80%;
} */

.guiding-principles, .services, .expertise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.flex-container h2 {
    padding-top: 10px;
}

.flex-container p {
    margin-top: 0px;
}

button {
    /* background-color: #01408c; */
    background-color: #f2580e;
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s ease-in;
    border-radius: 4px;
}

button:hover {
    background: #f2580e99;
}



/*****************
 Gillian
 *****************/

.photo-container {
    display: flex;
    column-gap: 100px; 
}
#bio h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
  
.bio_pic {
    width: 25vw; 
}


/**********
 Anita
 **********/

/* #clients h2 {
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    color: #ef7200;
} */

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #f0f0f0; */
    padding: 20px 0px;
}
.grid-item, .grid-item-2, .grid-item-33 {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    /* border: solid 1px #000; */
}
.grid-item {
    width: 25%;
}
.grid-item-2 {
    width: 25%;
}
.grid-item-33 {
    width: 25%;
}
.grid-item img, .grid-item-2 img {
    width: 60%;
    /* filter: grayscale(1); */
}

.grid-item-33 img {
    width: 60%;
}


/*******************/
/* Laciesha Footer */
/*******************/
.top {
    height: auto;
    display: flex;
    justify-content: center;
}
.top button {
    width: 50%;
}

footer {
    /* border: solid 1px #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #F4F4F4;
}
footer a, footer a:link, footer a:visited {
    margin: 20px;
    color: #444;
    font-size: 50px;
}
footer a:hover {
    color: #0182ab;
}


/************************
 Sarah's CSS
*************************/
#experience {
    height: auto;
    min-height: auto;
}
#quote2 {
    background-color: #F4F4F4;
}
#quote2 p {
    font-size: 2.5em;
    color: #0182ab;
    /* margin: 10vh 0; */
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    line-height: 1.2em;
}

.quote-symbol {
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    position: relative;
    position: relative;
    left: -4px;
    top: 35px;
    width: 0;
} 

#quote2 .quote-symbol {
    font-size: 120px;
    top: 55px;
}