
* {box-sizing: border-box;}
body {
/*   font-family: Verdana, sans-serif; */
  margin: 0%;
}
.mySlides {
  display: none;
  width: 90vw;
}
/* img {vertical-align: middle;} */


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
section#testimonials{
  display: flex;
  flex-direction: column;
  /* background-color: #13bbbb; */
  background-color: #109496;  
  color: white;  
  height: 100vh;
  padding: 5vw;
}
/* Caption text */
.slideshow-container .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideshow-container cite{
  text-transform: uppercase;
  color: #603958;
}
/* Number text (1/3 etc) */
.slideshow-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-container .active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  /* -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s; */
  animation-name: fadeInOut;
  animation-duration: 5s;
}

/* @-webkit-keyframes fade { 
  from {opacity: .4} 
  to {opacity: 1}
}*/

@keyframes fade {
  from {
    opacity: .4;
    margin-left: 100vw;
  } 
  to {
    opacity: 1;
    margin-left: 0vw;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: .4;
    margin-left: 100vw;
  } 
  20% {
    opacity: 1;
    margin-left: 0vw;
  }
  80% {
    opacity: .4;
    margin-left: -100vw;
  }
  100% {
    opacity: .4;
    margin-left: 100vw;
  } 
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
