/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap'); */

section#testimonials {
    margin: 0px;
    padding: 5vh 5vw;
    background-color: #7fc596; 
    height: 100vh;
}

section#testimonials h2, section#testimonials p {
    color: white;
    text-align: left;
}

section#testimonials p { 
    font-weight: 500;
}

section#testimonials strong {
    color: #0182ab;
}

.carousel {
  --current-slide: 0;
  position: relative;
  overflow: hidden;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;

    /* basic styling */
    padding: 0;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;

    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.1s;
}

.carousel-button:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

.carousel-button_next {
    /* The "next slide button" will be at the right */
    right: 0;
}

.slides {
    transition: transform 0.5s;
    transform: translateX(calc(-100% * var(--current-slide)));
    display: flex;
    color: white;
    height: 80vh;
}

.slide {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: 300;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vh 15vw;
    box-sizing: border-box;
}

.slide cite {
    text-transform: uppercase;
    color: #603958;
    font-style: normal;
  }

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }
}

/* ----- */

.content {
  width: 100%;
  margin: auto;
  padding: 5rem;

  background-size: cover;
  background-position: center;

  font-size: 1.5rem;
  color: white;
  text-align: left;
}


.text-container {
  max-width: 50ch;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}
