html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: solid 1px #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    background-color: white;
}

header ul {
    display: flex;
    list-style-type: none;
}
header li {
    margin-left: 15px;
}

main {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 80px;
    background-color: white;
}

.logo {
    font-weight: bold;
}

.section {
    /* border: solid 1px #000; */
    scroll-margin-top: 80px;
    min-height: 90vh;
    padding: 20px;
}