header {
    position: absolute;
    padding-left: 20px;
    padding-right: 40px;
    top: 10px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--hero-text-color);
    margin: 0px;
}

.title-and-button {
    min-width: 150px;
}

nav a,
nav a:link,
nav a:visited,
nav a:active {
    text-decoration: none;
    color: var(--hero-text-color);
    font-weight: 500;
    opacity: 1;
    transition: all 0.3s linear;
    font-size: 1.0em;
}

nav a:hover {
    opacity: 0.5;
}

nav a {
    color: var(--hero-text-color);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.menu-button {
    display: none;
}

.mobile {
    display: none;
}


@media screen and (max-width: 930px) {
    section {
        scroll-margin-top: 60px;
    }

    .waviy span {
        font-size: 35px;
    }

    main {
        margin-top: 60px;
    }

    header {
        display: grid;
        grid-template-columns: 100%;
        background-color: var(--nav-bg-color);
        position: fixed;
        padding: 0;
        top: 0;
        /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 9%), 0 1px 10px 0 rgb(5 5 5 / 12%);

    }

    header .title-and-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 10px;
    }

    .menu-button {
        display: inline;
        background-color: transparent;
        border: solid 2px transparent;
        padding: 3px 12px;
        font-size: 20px;
    }

    .menu-button:hover {
        border: solid 2px var(--hero-text-color);
        background: #FFFFFF22;
    }

    /* nav {
        background-color: #89c29c;
    } */

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: all 0.35s;
        margin: 0;
    }

    nav ul a, nav ul a:link, nav ul a:visited, nav ul a:hover {
        display: flex;
        font-size: 1.2em !important;
        padding-left: 20px;
        height: 50px;
        font-weight: normal;
        align-items: center;
    }

    nav ul a:hover, nav ul a:active, nav ul a:focus {
        background-color: var(--hero-bg-color);
        color: var(--hero-text-color);
        opacity: 1;
    }

    nav.show-menu ul {
        flex-direction: column;
        width: 100%;
        height: 250px;
        /* border: solid 1px #000; */
        margin: 10px 0px 0px 0px;
        justify-content: flex-end;
    }

    nav ul a {
        display: none !important;
    }

    nav.show-menu ul a {
        display: flex !important;
    }
}

@media screen and (max-width: 900px) {
    .waviy span, 
    #hero .quote h1,
    #hero .quote h2 {
        text-shadow: none;
    }
}