


body * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(41, 100, 23); */
}

header {
    /* border: solid 1px #000; */
    padding-left: 20px;
    padding-right: 20px;
   /* background-color: green; */
    position: absolute;
    top: 50px;
    z-index: 1000;
    width: 100%;
    
}
.top {
    float: left;
    font-size: 25px;
    color:white;
}
nav {
    margin: 0 auto;
    font-family: 'League Spartan', sans-serif;
   
}

nav a{
    color: white;
    text-decoration: none;
    padding-left: 40px;
    white-space: nowrap;
    font-size: 1.25vw;
    

}
 
nav ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;

}
/*header ul {
    display: flex;
    list-style-type: none;

}
header li {
    margin-left: 20px;
    float: right;
    
}
*/


.logo {
    width: 25vw;
    float: left;
    z-index: 100;
    position: relative;
    font-size: 2vw;
    margin-top: -25vw;

}
.landing {
    width: 100%;
    
   
}



#quote {
    font-size: 1vw;
    font-weight:50px;
    margin-left: 55px;
    text-align: center;
    color:white;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 20%;
    right: 100px;
    
}


h2 {
    
    font-style:normal;
      
}
#landingpic{
    width: 100%;
}
