/* The Modal (background) */
.modal {
    /* display: none; */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    top: 100vh;
}
.modal.show {
    display: block;
    top: 0vh;
}
    
/* Modal Content/Box */

.modal.show .modal-content {
    top: 0vh;
}
.modal-content {
    top: 100vh;
    left: 15vw;
    position: fixed;
    background-color: #fefefe;
    margin: 5vh 15vw 5vh 0; 
    padding: 5px;
    border: 1px solid #888;
    width: 70vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.3s;
}

#speaking .modal-content {
    width: 80%;
}

.btn {
    cursor: pointer;
}

.modal-body {
    padding: 0px 30px 30px 30px;
    height: 80vh;
    overflow-y: auto;
    margin-right: 7px;
}
    
/* The Close Button */
.close {
    align-self: flex-end;
    justify-self: flex-end;
    color: #aaa;
    font-size: 2em;
    font-weight: bold;
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.close:hover,
.close:focus {
    color: black;
}
.close:hover {
    background-color: #EEE;
}



@media screen and (max-width: 930px) {

    .modal.show .modal-content {
        top: 0;
    }
    .modal-content {
        top: 0;
        left: inherit;
        position: inherit;
    }
    .modal.show {
        display: block;
        left: 0vw;
    }
    .hide {
        display: block;
    } 
    .modal {
        display: block;
        left: -100vw;
    }

    .modal-body {
        height: 100% !important;
    }

    .modal-content, #speaking .modal-content {
        width: 100%;
        height: 100% !important;
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .modal .close {
        font-size: 3em;
        display: none;
    }
    .modal.show .close {
        display: flex;
    }
    .modal .close:hover {
        background: #eee;
    }
    .modal .close:active, .close:focus {
        outline: solid 1px #7ec59f;
    }
}

@media screen and (max-width: 600px) {
    #speaking .modal-content .screenshot {
        display: none;
    }
    #speaking .modal-content .row {
        grid-template-columns: 100%;
    }
}