@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

h1, h2,h3,h4 {
    font-family: 'Rubik', sans-serif;
}


.colorone {
    background-color: lavender;

}
.colortwo {

}

.colorthree {

}

.colorfour {

}

.colorfive {

}

.swatch {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid black;
}