@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
body {
    margin-left: 50px; 
    margin-bottom: 50px;
    background-color: beige;
    border-bottom: solid 1px black;
}
body * {
    box-sizing: border-box;
}

.atm {
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    padding-bottom: 60px;
    border: solid 5px black;
    padding: 2px;
    background-color: lavender;
    color: black;
    margin-right: 25px;
}
.top {
    display: flex;
    /* border: solid 1px black; */
    padding-left: 20vw;
    padding-right: 20vw;
}

.row {
    display: flex;
    /* border: solid 1px black; */
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
}

.colp, .fonts {
    /* border: solid 1px black; */
    width: 50%;
    margin-left: 125px;
    padding-top: 10px;
}


.middle {
    width: 100%;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    margin-right: 25px;
    
}
.semi {
    width: 100%;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    margin-right: 25px
}

 
h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
}

.colorone {
    background-color: seagreen;

}
.colortwo {
    background-color: turquoise;

}

.colorthree {
    background-color: yellow;
}

.colorfour {
background-color: teal;
}

.colorfive {
    background-color: peachpuff;
}

.colorsix {
    background-color: royalblue;
}

.colorseven {
    background-color: red;
}
    
.swatch {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: inline-block;
    border: 1px solid black;
    margin-right: 10px;
}

header {
    font-size: 30px;
    color: brown;
    font-style:italic;
}

p {
    font-size: 30px;
    color: brown;
    font-style: italic;
    width: 100px;
}

    .col-one  {
        background-color: #f2e394;
    }

    .col-two {
        background-color: #d6d4e0;
    }

    .col-three {
        background-color:  #92a8d1;
    }

    .buttons {
        width: 100px;
        height: 30px;
        border-radius: 100px;
        display: inline-block;
        border: 1px solid black;
     }

p {
    font-size: 1em;
}
    .semi .stmt {
        border-radius: 100px; 
        width: 100px;
        height: 30px;
        display: inline-block;
        border: 1px solid black;  
        background-color: white;
    }

    .words {
        border-radius: 100px; 
        width: 100px;
        height: 30px;
        display: inline-block;
        border: 1px solid black;  
        background-color: black;
    }

    .font p {
        font-size: 25px;

    } 

    .fontb p {
        font-size: 20px;
    }
    .logo p {
        font-size: 12px;
    }

    